* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container__product {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

.container__product--item {
    width: 25%;
    background-color: rgb(194, 240, 194);
    border-radius: 5px;
}

.product__item--img {
    width: 100%;
    height: 200px;
}

.product__item--img img {
    width: 100%;
    height: 90%;
    object-fit: cover;
    border-radius: 5px;
}

/* css so trang */
.container__paging .listpage {
    display: flex;
    list-style: none;
    width: 400px;
    margin: 30px auto;
    justify-content: space-around;
    align-items: center;

}

.container__paging .listpage li {
    width: 30px;
    height: 30px;
    border: 1px solid rgb(243, 157, 157);
    border-radius: 50%;
    text-align: center;
    line-height: 30px;

}